{% extends 'base.html' %}

{% block title %}Shopping Cart{% endblock %}
{% block content %}
<div class="shopping-cart-detail__container">
    <h1>Shopping Cart</h1>

    {% if cart %}
        {% for product_id, item in cart.items %}
            <div class="cart-item-overview">
                <div class="product-thumb">
                    <a href="{% url 'product_detail' id=product_id %}">
                        <img src="{{ item.image_url }}" class="product-thumb">
                    </a>
                </div>
                <div class="cart-item-info">
                    <a href="{% url 'product_detail' id=product_id %}"><p>{{ item.title }}</p></a>
                    <p>Price: {{ item.discounted_price }}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                <div>
                    <a href="{% url 'remove_from_cart' product_id %}" class="btn-remove">Remove From Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}

    <p>Total: ${{ total_price }}</p>
    <a class="btn" href="#">Proceed to Checkout</a><br>

{% else %}
    <p>Your cart is empty.</p>
{% endif %}

<a class="btn" href="/">Home</a>
    </div>
{% endblock %}
