    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <header class="site-header">
        <div class="title-container">
            <button class="hamburger" id="hamburger"><i class="fas fa-bars"></i></button>
            <a href="/" class="site-title">urbanRebel</a>
            <a href="{% url 'cart_detail' %}" class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
            {% if cart_item_count > 0 %}
                <span class="cart-count">{{ cart_item_count }}</span>
            {% endif %}
            </a>
        </div>
        <nav id="hamburger-menu" class="site-nav">
            <div class="dropdown-close-container">
            <button class="dropdown-close" id="dropdown-close">
                <i class="fa-solid fa-x"></i>
            </button>
            </div>
            <a href="/"><h3>Home</h3></a>
            <h3>Collections</h3>
            <ul>
                {% for collection in collections %}
                <a href="{% url 'collection_view' collection.id %}"><li>{{ collection.name }}</li></a>
                {% endfor %}
            </ul>
            <a href="/sale/"><h3>On Sale</h3></a>
        </nav>
        <div class="top-promotion-container">Save 20% on select items</div>
        </header>
